#map {
    width: 60%;
}

#wrapper {
    height: 100vh;
}

#inner_wrapper {
    width: 100vw;
    height: 85%;
    display: flex;
    justify-content: flex-start;
}

#right-panel {
    margin-top: -0.65em;
    width:20%;
    height: 100%;
    overflow: scroll;
}

@media (max-width:35em){
    #map{
        width: 100vw;
    }
}